<div class="footer">
    <div class="footer-wrap">
        <ul class="nav">
            <li><a href="https://bobs-tube.com/">Home</a></li>
            <li><a data-href="https://bobs-tube.com/signup/" data-fancybox="ajax">Sign up</a></li>
            <li><a data-href="https://bobs-tube.com/login/" data-fancybox="ajax">Log in</a></li>
            {{/*<li><a data-href="https://bobs-tube.com/invite/" data-fancybox="ajax">Invite a Friend</a></li>*/}}
            {{/*<li><a data-href="https://bobs-tube.com/feedback/" data-fancybox="ajax">Support</a></li>*/}}
            <li><a href="https://bobs-tube.com/terms/">Terms</a></li>
            {{/*<li><a href="https://bobs-tube.com/dmca/">DMCA</a></li>*/}}
            <li><a href="https://ru-xvideos.tv/categories/" target="_blank">Unsub</a></li>
        </ul>




    </div>
    <div class="btn_up"><a href="#">up</a></div>


    <script src="/static/js/main.js"></script>
    <!--	<script src="/js/main.min.js?v=0.0.4"></script>-->


</div>