<div class="header">
    <div class="logo">
        <a href="https://bobs-tube.com/"></a>
    </div>
    <div class="social-bookmarks">

        <div class="select more language-links" id="nav-languages" style="width: 100px;">
            <svg class="lang-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 32 32">
                <path fill="#FFF" d="M23.867 23.187c-.347-1.067-1.347-1.853-2.533-1.853H20v-4C20 16.598 19.405 16 18.67 16h-8v-2.666h2.667c.736 0 1.333-.597 1.333-1.333V9.335h2.667c1.473 0 2.667-1.194 2.667-2.667V6.12c3.907 1.573 6.667 5.4 6.667 9.88 0 2.773-1.068 5.293-2.8 7.187zm-9.2 3.386C9.4 25.92 5.334 21.44 5.334 16c0-.827.107-1.627.28-2.387L12 20v1.333C12 22.806 13.196 24 14.67 24zM16 2.667C8.636 2.667 2.667 8.637 2.667 16S8.637 29.333 16 29.333c7.364 0 13.333-5.97 13.333-13.333S23.363 2.667 16 2.667z"></path>
            </svg>
            <div class="lang-btn">English
                <img class="nav-dropdown -white" src="/static/img/dropdown.png" alt="" width="12" style="vertical-align: middle;">
                <img class="nav-dropdown -dark" src="/static/svg/dropdown-dark.svg" alt="" width="12">
            </div>
        </div>
        <div class="nav-grid" id="nav-grid-languages" style="display: none;">
            <div class="nav-grid-rows">
                <div class="nav-grid-row">
                    <div class="nav-grid-cell">
                        <a href="https://bobs-tube.com/" class="nav-grid-item" data-nav-language="en">
										<span class="nav-grid-image">
											<img src="/static/img/en.png" alt="English">
										</span>
                            <span class="nav-grid-title">English</span>
                        </a>
                    </div>
                    <div class="nav-grid-cell">
                        <a href="https://de.bobs-tube.com/" class="nav-grid-item" data-nav-language="de">
										<span class="nav-grid-image">
											<img src="/static/img/de.png" alt="Deutsch">
										</span>
                            <span class="nav-grid-title">Deutsch</span>
                        </a>
                    </div>
                    <div class="nav-grid-cell">
                        <a href="https://es.bobs-tube.com/" class="nav-grid-item" data-nav-language="es">
										<span class="nav-grid-image">
											<img src="/static/img/es.png" alt="Español">
										</span>
                            <span class="nav-grid-title">Español</span>
                        </a>
                    </div>
                    <div class="nav-grid-cell">
                        <a href="https://fr.bobs-tube.com/" class="nav-grid-item" data-nav-language="fr">
										<span class="nav-grid-image">
											<img src="/static/img/fr.png" alt="Français">
										</span>
                            <span class="nav-grid-title">Français</span>
                        </a>
                    </div>
                </div>
                <div class="nav-grid-row">
                    <div class="nav-grid-cell">
                        <a href="https://it.bobs-tube.com/" class="nav-grid-item" data-nav-language="it">
										<span class="nav-grid-image">
											<img src="/static/img/it.png" alt="Italiano">
										</span>
                            <span class="nav-grid-title">Italiano</span>
                        </a>
                    </div>
                    <div class="nav-grid-cell">
                        <a href="https://jp.bobs-tube.com/" class="nav-grid-item" data-nav-language="jp">
										<span class="nav-grid-image">
											<img src="/static/img/jp.png" alt="日本人">
										</span>
                            <span class="nav-grid-title">日本人</span>
                        </a>
                    </div>
                    <div class="nav-grid-cell">
                        <a href="https://pt.bobs-tube.com/" class="nav-grid-item" data-nav-language="pt">
										<span class="nav-grid-image">
											<img src="/static/img/pt.png" alt="Português">
										</span>
                            <span class="nav-grid-title">Português</span>
                        </a>
                    </div>
                    <div class="nav-grid-cell">
                        <a href="https://tr.bobs-tube.com/" class="nav-grid-item" data-nav-language="tr">
										<span class="nav-grid-image">
											<img src="/static/img/tr.png" alt="Turkish">
										</span>
                            <span class="nav-grid-title">Turkish</span>
                        </a>
                    </div>
                </div>
                <div class="nav-grid-row">
                    <div class="nav-grid-cell">
                        <a href="https://cn.bobs-tube.com/" class="nav-grid-item" data-nav-language="zh">
										<span class="nav-grid-image">
											<img src="/static/img/zh.png" alt="中国的">
										</span>
                            <span class="nav-grid-title">中国的</span>
                        </a>
                    </div>
                    <div class="nav-grid-cell">
                        <a href="https://ru.bobs-tube.com/" class="nav-grid-item" data-nav-language="ru">
										<span class="nav-grid-image">
											<img src="/static/img/ru.png" alt="Русский">
										</span>
                            <span class="nav-grid-title">Русский</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="search">
        <form id="search_form" action="/search/" method="get" data-url="/search?s=%QUERY%">
            <span class="search-button" style="text-indent: -100px">Search</span>
            <div class="search-text"><input type="text" name="q" placeholder="Search" value=""/></div>
        </form>
    </div>
</div>