<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#
				video: http://ogp.me/ns/video#
				ya: http://webmaster.yandex.ru/vocabularies/">
<head>
    <title>
        Bobs-Tube.com / HD Porn Videos, Sex Movies, Porn Tube
    </title>
    <meta property="og:site_name" content="Bobs-tube.com / HD Porn Videos, Sex Movies, Porn Tube" />
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Bobs-Tube.com" />
    <meta name="description" content="Free xxx porn mega site Bobs-Tube. Watch unlimited  HD porn videos. Every day we offer the best selection of Free Porn Video Trailer movies, free xxx porn pictures and sex videos online. Bobs Porn Tube - Enjoy Watching!!!!"/>
    <meta property="og:description" content="Free xxx porn mega site Bobs-Tube. Watch unlimited  HD porn videos. Every day we offer the best selection of Free Porn Video Trailer movies, free xxx porn pictures and sex videos online. Bobs Porn Tube - Enjoy Watching!!!!" />
    <meta name="keywords" content="porn, hd, free, sex, porno, free porn, porn tube, sex videos, porn videos"/>
    <meta property="og:url" content="https://bobs-tube.com/"/>
    <meta property="og:image" content="https://bobs-tube.com/favicon.ico"/>
    <meta name="RATING" content="RTA-5042-1996-1400-1577-RTA" />
    <link rel="shortcut icon" type="image/x-icon" href="https://bobs-tube.com/favicon.ico">
    <link rel="icon" type="image/ico" href="https://bobs-tube.com/favicon.ico" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="advertising-site-verification" content="e275a79609db1d04c0e456c8b5869793" />


    <link href="/static/css/all-responsive.min.css" rel="stylesheet" type="text/css"/>
    <!--	<link href="/styles/all-responsive.min.css?v=1.81" rel="stylesheet" type="text/css"/>-->
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <!--	<link href="https://i.bobs-tube.com/styles/jquery.fancybox.min.css?v=1.8" rel="stylesheet" type="text/css"/>-->
    <script src="/static/js/fe_load.js"></script>
    {{/*<script src="/static/js/main.js"></script>*/}}



    {{/*<link href="https://bobs-tube.com/rss/" rel="alternate" type="application/rss+xml" title="Every Day Updates"/>*/}}


    <!--    <script src='/js/moo_nav.min.js'></script>
        <link href="/js/moo_nav.min.css" rel="stylesheet">-->
</head>
<!-- <body onload="redirect()"> -->
<body>


<div class="container">

    {{template "temp/items/header.html" .}}

    {{template "temp/items/navigation.html" .}}

    {{.LayoutContent}}

</div>
{{template "temp/items/footer.html" .}}

<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(window).scroll(function () {
            if($(window).scrollTop() >= 250){
                $('#site-navigation').addClass('fixed');
            }else{
                $('#site-navigation').removeClass('fixed');
            }
        });
    });

</script>

<link href="/static/css/jquery.fancybox.min.css" rel="stylesheet" type="text/css"/>
<script src='/static/js/moo_nav.min.js'></script>
<link href="/static/css/moo_nav.min.css" rel="stylesheet">

<div class="backdrop" id="backdrop"></div>
</body>
</html>